body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


button {
    height: 100px;
    width: 100px;

}

.board {
    grid-template-columns: 1fr 1fr 1fr;
    display: grid;
}